#YMapsID { border: 1px solid #666666; margin: 0px 0px 15px 0px !important; padding: 0px !important; }
#YMapsID img,#YMapsID img:hover,#YMapsID a,#YMapsID a:hover  { border:0px !important; padding:0px; }
